/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 
.sidebar-menu-horizontal {
    float: left; 
    >li {
        display: inline-block;
        position: relative;

        a {
                padding: 15px 12px;
                    padding-right: 8px;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 1000;
       
        float: left;
        min-width: 152px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 13px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid #ddd;
        border-radius: 0;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        li {
            a {
                padding: 8px 15px;
            }
        }
    }

    .sidebar-submenu {
      li.with-sub {
        position: relative; 
      }
    }
}

@media (min-width: 768px) {
    .navbar-header {
        -webkit-transition: width .3s;
        transition: width .3s;
        width: 64px; 
    }
}

@media (min-width: 768px)  {
    .navbar-collapsible {
        margin-left: 38px;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
    }
}





@media (min-width: 768px)

{
    .site-footer {
        margin-left: 0;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        background: #fff;
    }
} 

.sidebar-menu>li.with-sub>a:before {
    
    margin-left: 0px; 
}

.table.without-border th, .table td {
  border-top: 1px solid #eceeef !important;
  border-bottom: 1px solid #eceeef;
  vertical-align: middle;
}

.table.without-border th:first-child, .table td:first-child {
  border-left: 1px solid #eceeef;
}

.table.without-border th:last-child, .table td:last-child {
  border-right: 1px solid #eceeef;
}

.table.without-border th a.underline, .table td a.underline {
  color: #014c8c;
}

.table.without-border th .table tbody + tbody, .table td .table tbody + tbody {
  border-top: 0;
}


.setting-sub-menu {
        border: 1px solid #f0f0f0;
            border-bottom: 0;
        li {

            a {
                display: block; 
                font-size: 11px;
                font-weight: bold;
                padding: 10px; 
                padding-left: 5; 
                color: #333;
                border-bottom: 1px solid #f0f0f0; 
                &:hover {
                    text-decoration: none; 
                }
            }
        }
}
h4.smaller {
        font-size: 15px;; 
}

.inline-block {
    display: inline-block; 
}

.table-middle {
    tbody>tr>td {
        vertical-align: middle; 
    }
}

.search-box {
    background: #f4fbff;
    border: 1px solid #d9f0ff;
    padding: 0 20px 10px;
    margin-bottom: 30px;
}

.search-box {
      // padding-left: 15px;
      // padding-right: 15px; 

  
  // Two
  .two-fields { 
      
      font-size: 0; 
    .form-group {
      vertical-align: bottom; 
      font-size: 12px; 
    } 
  }
  .two-fields .form-group { width: 50%; display: inline-block; padding: 0;  }
  .two-fields .form-group input { width: 100%; }
  .two-fields .form-group select { width: 100%; } 
  .two-fields .form-group:first-child { padding-right: 11px;  width: 80%; 
      .form-control { /* border-top-right-radius: 0; border-bottom-right-radius: 0; */ }
      } 
    
  .two-fields .form-group:last-child{ padding-left: 0;  width: 20%; 
      .btn {/*  border-top-left-radius: 0; border-bottom-left-radius: 0; */ padding: 6px 14px; }
  }
}


.stacktoggle .btn-group .btn {
    margin-right: 0; 

}

.stack { 
    margin-right: -10px; 
    margin-left: -10px; 
    .stack-row-outer {
        float: left; 
        width:33.33%; 
         padding-left: 10px; 
            padding-right: 10px; 
    }
    .stack-row {
            border: 1px solid #dfe1e4;
            background: #fff;  
            // padding: 10px; 
            margin-bottom: 15px; 
            padding: 15px; 
            cursor: pointer; 

            

        .table-border-less {
                border: 0; 
                margin-bottom: 0; 
                tbody>tr>td {
                        border: 0;
                        background-color: transparent !important; 
                        &:hover {
                            background-color: transparent !important; 
                        }
                }
                thead>tr>th {
                        border: 0;
                        &:hover {
                            background-color: transparent !important; 
                        }
                }
        }
    }
}
 
#stack-view {
    display: none;

    .row {
        margin-left: -5px; 
        margin-right: -5px; 
        
        

    }  
}

.gform_wrapper {
        font: 15px/26px "Open Sans",Helvetica,Arial,Verdana,sans-serif !important; 
    .gfield_description {
        a {
            font: 15px/26px "Open Sans",Helvetica,Arial,Verdana,sans-serif !important; 
        }
    }

    label {
        font: 15px/26px "Open Sans",Helvetica,Arial,Verdana,sans-serif !important; 
    }

    ul {
        li {
            font: 15px/26px "Open Sans",Helvetica,Arial,Verdana,sans-serif !important; 
        }
    }
}



.dropdown-menu-left {
    right: 0; 
    left: auto; 
}

.search-box-small {
    margin-left: 10px;   
        float: left;
    // input {
    //     display: inline-block; 
    // }
    .btn-group { 
 
    } 

     form {
        display: block;
        @include clearfix; 
        width: 489px;
    } 
  
    // button {
    //     display: inline-block;
    // }

    .form-control {
            border-bottom-right-radius:0 ;
            border-top-right-radius:0 ;
    }

    .form-field:first-child {
        float: left;
        width: 70%; 
    }
    button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }
    .form-field {
        position: relative; 

        .fa-search {
            position: absolute; 
            top: 10px; 
            right: 20px; 
        }

    }

    .form-field:last-child {
        float: left;
        width: 30%; 


    }
}

.gray-box {
   background: #f5f5f5;
   padding-top: 8px;
    padding-bottom: 8px;
   padding-left: 8px;
   padding-right: 7px;
}


.blue-box {
    padding: 15px; 
    border: 1px solid darken(#d3d8ff, 10%);
        background: #d3d8ff;
}

.availability-from {

    border-color:  #ecbe32;  

    background: #fdf9eb; 
    padding: 20px;  

    padding: 20px;
      
        display: block;
        /* height: 100%; */
        min-height: 3434px;
 
    h4 {
        font-size: 17px; 
    }
}
.h4-small {
    font-size: 17px; 
}

.add-exp {
        border: 2px dotted #ddd;
        padding: 8px; 
        text-align: center; 

}

.dropzone {
    min-height: 129px;
    padding: 13px;
        margin-bottom: 25px;
}


.dropzone .dz-message {
    padding: 10px 0;
    text-align: center;
}


.dropzone {
    min-height: 138px;
    padding: 40px;
}

.accordion {
        border: 0;

        .panel-body {
            padding-left: 8px; 
            padding-right: 8px; 
        }


}
.accordion .panel-heading {
    padding: 8px;
    margin-bottom: 10px; 
    background-color: #f5f5f5;
    border-color: #ebebeb;
    margin-top: 0;
    h4 {
        margin-bottom: 0; 
        
        font-size: 15px; 
        a {
            color: #212121;
            font-weight: bold;  
        }
    }

    .panel {
        box-shadow: none;
            border: 0;
    }

    .panel-default {
        border: 0 !important;

    }
}

.dropzone {
    min-height: 150px;
    padding: 40px;
}

.select2-container--bootstrap {
    display: block;
    width: 100% !important; 
}

span.tag {
    display: inline-block;
    padding: 5px; 
    font-size: 12px; 
        border: 1px solid #ebebeb;
        color: #212121;
        font-weight: normal; 

}

.label-pending-aproval {
  background: #ff5a5f;
}

.label-open {
  background: #ffb400;
}

.label-filled {
  background: #b4a76c;
}

.label-new-request {
  background: #8ce071;
}

.label-rejected {
  background: #6c6441;
  color: #fff !important;  
}

.label-re-open {
  background: #007a87;
}

.label-hold {
  background: #7b0051;
}

.label-draft {
  background: #9F00FF;
}

.label-interview-pending {
  background: #007a87;
}

.label-interview-cancelled {
  background: #6c6441;
}

.label-interview-reschedule {
  background: #7b0051;
}

.label-interview-completed {
  background: #9F00FF;
}
.tag {
    font-weight: 600;
    border-radius: 2px;
}
.tag {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.rate-card {
  border: 1px solid #ebebeb;
  
  margin-bottom: 30px;  

  .rate-card-header{ 
    padding: 15px; 
    border-bottom: 1px solid #ebebeb;
  }
  .rate-card-body {
         padding: 15px; 
  }
}

.job-workspace-status {
        border: 1px solid #ddd; 
        @include clearfix; 

        .boxes {
            float: left; 
            width: 12.5%; 
            border-right: 1px solid #ddd; 
            padding: 10px;

            height: 90px; 
            span.count {
                display: block; 
                margin-bottom: 3px; 
                font-weight: bold;
                font-size: 23px; 
                vertical-align: middle; 
                padding-top: 8px;

            }
            p {
                margin-bottom: 4px; 
            }
            &.bodeer-less {
                    border-right: 0;
                    padding-right: 5px; 
            }

        }

}



.simplify-tabs {
    
    margin-bottom: 100px;
    margin-top: 0; 
    // min-height: 500px;
    //padding-bottom: 30px;  
    // margin-right: -20px;
    // margin-left: -20px;
    ul {
        border: 0; 

    }
    .nav-tabs {
      border: 0;
      background: #F6F5F7;
      border-right: 1px solid #EBE9EB;
      border-left: 1px solid #EBE9EB;
      border-bottom: 1px solid #EBE9EB; 
      margin-left: -21px;
      margin-right: -21px
      
    }

    &.blue-tabs {

        .nav-tabs {
          border: 0;
          background: #d9f0ff;
          border-right: 1px solid #d9f0ff;
          border-left: 1px solid #d9f0ff;
          border-bottom: 1px solid #d9f0ff;  
          
        }

    }
    .nav-tabs > li {
      float: left;
      margin-bottom: -1px;
      border-right: 1px solid #EBE9EB;
      border-bottom: 1px solid #EBE9EB;
      margin-right: 0;
    }
    .nav-tabs > li > a {
      margin-right: 0;
      line-height: 1.42857143;
      border: 0; 
      border-radius: 0;
      border-top: 1px solid #EBE9EB;
    }
    .nav-tabs > li > a:hover {
      border-color: #eee #eee #ddd;
    }

    .nav-tabs > li > a:hover {
      border-color: #eee #eee #ddd;
    }
    .nav-tabs.no-hover > li > a:hover {
      background-color: transparent;
      color: #000; 
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      color: #555; 
      cursor: default;
      background-color: #fff;
      border: 0;
      margin-top: 0; 
      border-top: 1px solid #EBE9EB; 
      border-bottom-color: transparent;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      color: #555; 
      cursor: default;
      background-color: #fff;
      border: 0;
      margin-top: 0; 
      border-top: 1px solid #EBE9EB; 
      border-bottom-color: transparent;
    }

    .nav-tabs > li.active ,
     {
         border-bottom: 0; 
    }


    .tab-content{
        padding-left: 0; 
        padding-top: 20px;  
        padding-right: 0; 
        border-top: 0; 
        box-shadow: none;
    }

    .nav-tabs .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-tabs .nav-item .nav-link {
       
        border-radius: 0 !important;
    }

    .dropdown-menu {
        min-width: 202px; 
        li {
            padding: 5px; 
            a {
                font-size: 13px;
                font-weight: 500;  
            }
        }
        .nav-icon img { 
          
            vertical-align: bottom;
            margin-right: 6px; 
        }

    }

     
}

.label-xs {
    font-size: 12px; 
}
.vertical-align-middle{
    vertical-align: middle;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  // margin-left: -1198px; 
  margin-left: 23px; 
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 0;
    margin-left: -1.5px;
  }
  > li {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-panel {
        width: 96%; 
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;
          border-top: 15px solid transparent;
          border-left: 15px solid #ccc;
          border-right: 0 solid #ccc;
          border-bottom: 15px solid transparent;
          content: " ";
        }
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-left: 14px solid #fff;
          border-right: 0 solid #fff;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }
      .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 0;
        margin-left: -25px;
        background-color: transparent;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

        img { 
            max-width: 50px; 
                border-radius: 50%;
        }

      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-badge {
  &.primary {
    background-color: #2e6da4 !important;
  }
  &.success {
    background-color: #3f903f !important;
  }
  &.warning {
    background-color: #f0ad4e !important;
  }
  &.danger {
    background-color: #d9534f !important;
  }
  &.info {
    background-color: #5bc0de !important;
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
  font-size: 18px;
  .btn{
    margin-right: 10px; 
  }
  .job-approved {
     float: right; 
        font-size: 80%; 
        color: #226e36; 
  }
}

.timeline-body > {
  p, ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
  .red-line {
        border: 1px solid red;
        margin-right: -20px;
            margin-left: -20px;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;

      }
      .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  } 
} 
 
.date-started {
    max-width: 150px; 
    margin-right: auto; 
    margin-left: auto; 
        border: 1px solid #ddd;
        margin-bottom: 20px; 
        margin-top: 20px; 
        text-align: center; 
        padding: 10px; 
        p {
            margin-bottom: 0; 
        }
}

.team-table {
    img {
        display: inline-block; 
        max-width: 40px;  
        vertical-align: sub; 
        margin-right: 10px; 

    }
    .user-name {
        display: inline-block; 
    }
}


.transparent-table {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    thead > tr> th {
            border-right: 0;
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
    }
    tbody > tr> td {
            border-right: 0;
            border-left: 0;
            border-top: 0 !important;
            border-bottom: 0;
            padding: 5px; 
            &:last-child {
                border-right: 0; 
            }
            &:first-child {
                border-left: 0;
                padding-left: 0; 
            }
    }
}

.table-50 {
    tbody>tr>td {
        width: 50% !important; 
    }
}

.internal-note {

    padding: 10px; 
        border: 1px solid darken(#fffd9b, 5%);
        background: #fffd9b; 
        margin-bottom: 20px; 

}


.blue-bg { 
    background: #d7d7ff; 
        min-height: 1044px;
}
.title {
    font-weight: bold; 
}

.job-info {
    background: #F6F5F7; 
     padding: 10px; 
     border: 1px solid darken(#F6F5F7, 5%);
}

.label-xxs {
    font-size: 10px;
    vertical-align: text-bottom;
    margin-left: 10px;
}

.release-job {
    .media{
        .media-object {
            max-width: 41px; 
        }
        .media-body {
              padding-top: 9px;
        }
    }
}

.ratecard-table-fields {
        input.form-control {
        display: inline-block; 
        
    }
    .two-field {
        width: 200px; 
        text-align: center; 
        padding-left: 20px; 
        input.form-control {
            
            max-width: 45%; 
            float: left; 
            margin-right: 5px;  
        }
    }
    
}
.label-noti {
  font-size: 75%;
      position: absolute;
     top: 3px;
     right: -7px;
}

.sidebar-menu-horizontal .dropdown-menu .dropdown-menu{
    position: absolute;
    top: 31px;
    left: 150px; 


  }

  a.sub-sub-a:before {
      color: #666;
      content: "\f2f6";
      float: right;
      font-family: Material-Design-Iconic-Font;
      font-size: 17px;
      height: 18px;
      line-height: 18px;
      margin-left: 5px;
      text-align: center;
      -webkit-transform: none;
      transform: none;
      -webkit-transition: color .3s;
      transition: color .3s;
      width: 18px
  }

  .sidebar-menu>li.with-sub.open>a:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg)
  }

  .text-avatar-profile-round-s {
    width: 36px;
    height: 36px;
    background: #e4e6f0;  
    color: #000;
    text-align: center; 
    font-size: 12px;   
    display: table;
    border-radius: 50%;
    margin: 2px 2px 0px 4px;
        float: left;

    span { 
      display: table-cell;
      vertical-align: middle;
      padding-top: 3px;
    }

}

.text-avatar-profile {
      width: 52px;
    height: 6px;
    background: #ddd; 
    color: #000;
    text-align: center; 
    font-size: 18px;
    display: table; 
    border-radius: 50%;
    margin: 2px 16px 0px -2px;
    
 
    span {
      display: table-cell;
      vertical-align: middle;
      padding-top: 4px;
      text-decoration: none; 
    }

}

.view-notes-comments {
  padding: 30px 0 20px; 

  .media-object {
    margin-right: 10px; 
    max-width: 50px; 
  }

  .media {
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px; 
        margin-bottom: 20px;
        &.no-border {
          border-bottom: 0;
        }
  }

    .meta-inner {
        font-size: 12px;
        color: #aa9c84;
        margin-top: 10px;
    }

  
  .wysihtml5-sandbox {
      border:1px solid  rgba(0, 0, 0, 0.0980392) !important;
      height: 150px !important;
  }

}


.tab-content-comments {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.tab-pane-inner {
  padding: 20px; 

  .tab-content {
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px;
      border-top: 20px;
      box-shadow: none;
          margin-left: -21px;
              margin-right: -21px;
  }
}

.sms-img {
    max-width: 54px;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
        padding: 5px 10px;
}
.stylish-input-group .form-control{
    border-right:0; 
    
    border-color:#ebebeb;
     margin-bottom: 15px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group {
     .input-group-addon:nth-child(2) {
        border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 35px;
            border-color: #e4e4e4; 
    }
}


.filter-accordion {
       
        .panel.panel-default {
             border-bottom: 1px solid #ebebeb;  
        }
        .panel-body {
            padding-left: 8px; 
            padding-right: 8px;  
        }

        .panel-body {
            padding: 4px;
        }


}
.filter-accordion .panel-heading {
    padding: 8px; 
    padding-left: 0; 

    
    border-color: #ebebeb;
    margin-top: 0;
    h4 {
        margin-bottom: 0; 
        
        font-size: 15px; 
        a {
            color: #212121;
            font-weight: normal;  
                margin-left: 11px;
        }
        i {
            margin-right: 6px; 
            font-weight: normal; 
             font-size: 12px;  
        }
    }
}
 
.list-filter-top  {

    .btn {
        margin-top: 0 !important;  
    }

    a {
        margin-top: -1px !important; 
    }
}

.jobs-filter {
    li {
         background: transparent;
        padding: 4px;
        margin-bottom: 6px;
        &:hover {
            background: #f5f5f5;
        }

        a {
                color: #212121;
        }
    }
}


.candidate-table {
    a.name {
        display: block; 
        font-size: 18px; 
        color: #235a8b; 
    }

    i {
        margin-right: 4px; 
        color: #989797; 
    } 
    span.detail {
        display: inline-block; 
        margin-right: 6px; 
        color: #333; 
    }

    thead>tr>th {
         padding: 8px; 
        .profile {
                width: 40px;
    } 

        &.check {
        width: 10px; 
        
        }

    }
    tbody>tr>td {
        padding: 8px;  
        &.profile {
        width: 40px; 
            img {
                max-width: 35px; 
                height: auto; 
            }
        }

        &.check {
        width: 10px; 
        
        }
        
    }
}
.candidate-view {
  .media {
    .media-object {
      max-width: 40px; 
      margin-right: 8px; 
    }
  }

  .label {
    margin-right: 5px; 
  }
}

.panel-default2 {
    border-color:#DDDDDD
}

.panel-default2>.panel-heading {
    background-color: #F2F2F2;
    border-color:#DDDDDD;
    color: #000; 
    padding:13px 20px;  
}

.panel-default2>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #DDDDDD
}

.panel-default2>.panel-heading .badge {
    background-color: #F2F2F2;
    color: #DDDDDD
}

.gray-tabs {
  .nav-tabs 
  {
     background: #F2F2F2;
  }
 
} 

.search-box-small-3 {
     
    @include clearfix;   

  margin-bottom: 21px;

    // input {
    //     display: inline-block; 
    // }
    .btn-group { 
 
    }   

  
    // button {
    //     display: inline-block;
    // }

    .form-control {
            border-bottom-right-radius:0 ;
            border-top-right-radius:0 ;
    }

    .form-field:first-child {
        float: left;
        width: 70%; 
    }
    button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }
    .form-field {
        position: relative; 

        .fa-search {
            position: absolute; 
            top: 10px; 
            right: 20px; 
        }

    }

    .form-field:last-child {
        float: left;
        width: 30%; 


    }
}

.media-object-avatar {
  max-width: 40px; 
  margin-right: 6px; 
}


.view-notes-comments {
  padding: 30px 0 20px; 

  .media-object {
    margin-right: 10px; 
    max-width: 50px; 
  }

  .media {
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px; 
        margin-bottom: 20px;
        &.no-border {
          border-bottom: 0;
        }
  }

    .meta-inner {
        font-size: 12px;
        color: #aa9c84;
        margin-top: 10px;
    }

  
  .wysihtml5-sandbox {
      border:1px solid  rgba(0, 0, 0, 0.0980392) !important;
      height: 150px !important;
  }

}

.button-panel{
  a {
    margin-right: 6px; 
  }
}

.top-panel { 
  border: 1px solid #ddd;
  

  // padding: 10px;
    margin-bottom: 20px; 
  .table {
      margin-bottom: 0; 

      tbody>tr>td { 
          border: 0;
          border-top: 0 !important;

      }
  }




}

.bordre-right {
  border-right: 1px solid #ddd;
}



.submission-view-section {
    border: 1px solid #ddd;
    //border-bottom: 0; 
    padding: 15px; 
    cursor: pointer;
    margin-bottom: -1px; 

    p {
      margin-bottom: 0; 
    }
    
    
}

.m-r-l-0 {
  margin-right: 0 !important; 
  margin-left: 0 !important; 
}

.tab-content-2 {

  padding: 10px !important; 
  border: 1px solid #EBE9EB;
  border-top: 0;

}

.table-touch-border{
  margin-left: -11px; 
  margin-right: -11px; 
}

.lable-xs{
  font-size: 12px; 
}
.v-m {
  vertical-align: middle;
}

.resume-tab{
  height: 751px;
  border-left: 0;
}
  
.resume-box{
    min-height: 751px;
    border-left: 1px solid #ddd;
    padding: 10px; 
}

.stack-submission  {
  margin-right: -10px; 
  margin-left: -10px; 
}

.stack-submission--container{
  display: block; 

  @include clearfix; 
  
  .stack-submission--outer {
      width: 25%; 
      padding: 10px;
      float: left; 

  }

    .stack-submission--inner{
        border: 1px solid #ddd; 

        .media {
          margin-top: 10px; 
          margin-left: 10px; 
              margin-bottom: 5px;
        } 
        .media-object {
          max-width: 33px; 
        }
        .media-heading {
          font-size: 14px; 
          line-height: 1.3;
        }
    }
}

.card{
    border: 1px solid #ddd;
    .card-header {
        padding: 20px; 
        border-bottom: 1px solid #ddd;
    }

    .card-body {
      padding: 20px; 
    }
}

.schedule-header {

  background: #f5f5f5; 
   padding:9px 20px 2px !important; 
}

.rating-star {
  margin: 0 auto; 

  i {
    font-size: 14px; 
    color: #FFED85; 


  }
}


.yellow-box {
    padding: 15px; 
    border: 1px solid darken(#fde47d, 10%);
  
    background: #fde47d;
  color: #e64a33;  
}

.btn-group-margin {
  a {
    display: inline-block; 
    margin-right: 5px; 
    
  }
}