/* -----------------------------
-------- Buttons
 ------------------------------*/

//@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
//@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

.btn { 
	text-transform: capitalize !important; 
}

.btn-round {
  font-weight: normal;
  border: 1px solid transparent;
  @include button-size( 10px , 20px , 14px,  1.42857143, 20px);
}


// Success appears as green



// .btn-default {
//   @include button-variant( #fff , #a67c52 , #a67c52 );
// }

.btn-default-2 {
  @include button-variant( #000 , #fff , #e4e4e4 );
}


//size of btn

.btn-lg {
  @include button-size( 10px , 16px , 18px, 1.3333333, 6px);
}

.btn-sm {
  @include button-size( 5px , 10px , 12px, 1.5, 3px);
}

.btn-xs {
  @include button-size( 1px , 5px , 12px, 1.5, 3px);
}



@mixin button-bg($bg) {
  background: transparent;
    border: 1px solid #fff;
    color: #fff; 
      border-radius:0;
  &:hover {
    background: #fff;
    color: #000; 
    transition: all 0.3s ease;
  }
  &:active {
    background: #fff;
    color: #000; 
  } 
}

.btn-white-border {
  padding-left: 20px;
  padding-right: 20px;
   @include button-bg(#3498db);
}

